<article class="blog-post mt-3" id="<%= dom_id blog %>">
  <h2 class="blog-post-title mb-3"><%= blog.title %></h2>
  <td> Published <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago by </td> <a href="#"> Author</a>
  <p><%= blog.body %></p>
</article>