<h1 class='pt-5'>About Me</h1>

<hr>

<div class='row'>
    <div class='col-md-4'>
        <%= image_tag 'me-desk.png', width: 250, alt: 'profile image' %>
    </div>

    <div class='col-md-8'>
        <p>
            My name is Sarrick Shiflett. I'm a software engineer that loves to build things that make sense. My passion for coding
            was kindled into a roaring flame with my first project. I like many others HATE TRAFFIC, and one day while driving to work, I felt the bliss of none at all. I loved how easy it felt, and the very next day it was back. I had drove to work the day before only ten minutes earlier, but it made a world of difference, but each day was different. Utilizing apples traffic API I found that I could use their data to predict traffic times minute by minute. I created an app that felt like a skull key to my traffic happiness driving in clear traffic until I left the company. Since then I've been hooked.
        </p>

        <p>
            I’ve learned a bunch of programming languages since then, each one adding new skills and principles. I enjoy the challenge of picking up new technologies and solving problems.
        </p>
    </div>
</div>

<br>

<div class='row'>
    <div class='col-md-8'>
        <p>
            When I’m not becoming one with machine, you’ll find me at the gym practicing the art of Muay Thai. I briefly competed, now I dedicate my energy to my team. Helping my teammates become champions has been incredibly rewarding and seeing them at their best and perhaps their worst has taught me a lot about resilience and teamwork.
        </p>

        <p>
            Muay Thai has introduced me to some great people and experiences. The hard work and discipline it takes has shaped who I am, both in and out of the gym. The everything matters mindset, has helped me in coding and in my relationship with myself.
        </p>

        <p>
            If you'd like connect I’m always up for a good chat! Hit the contact me button and send me an email.
        </p>
    </div>

    <div class='col-md-4'>
        <%= image_tag 'me-teamwork250x400.png', width: 250, alt: 'profile image' %>
    </div>

    <p class="lead">
        <%= link_to "Contact Me", contact_path, class: "btn btn-lg btn-secondary" %>
        <%= link_to "Projects", portfolios_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>