
<h1 class='pt-5'>About Me</h1>

<hr>

<div class='row'>
    <div class='col-md-4'>
        <%= image_tag 'me-desk.png', width: 250, alt: 'profile image' %>
    </div>

    <div class='col-md-8'>
        <p>Hey, I'm Sarrick Shiflett. There's something special about coding that really captures my soul. It's the thrill of bringing something in the mind to life, and the pride that comes from creating something truly my own. Seeing ideas come to life that have never been and knowing they’re useful or just plain fun has an incredibly satisfying feeling to it and I've found very few things feel close.</p>

        <p>I started coding a few years ago with Apple’s Swift while working at a local FedEx. I quickly saw the potential to simplify everyday tasks and created a traffic app that scans for the perfect time to leave for work, saving me so much time in traffic! The thrill of building something that makes a difference keeps me hooked.</p>

        <p>I’ve learned a bunch of programming languages since then, each one adding new skills and ideas. I enjoy the challenge of picking up new technologies and solving problems.</p>
    </div>
</div>

<div class='row'>
    <div class='col-md-8'>
        <p>When I’m not becoming one with machine, you’ll find me at the gym practicing the art of Muay Thai. I briefly competed, now I dedicate my energy to being what we call a "pad-man" and instructor. Helping my teammates become champions has been incredibly rewarding and seeing them at their best and perhaps their worst has taught me a lot about resilience and teamwork to say the least.
        </p>

        <p>Muay Thai has introduced me to some great people and experiences. The hard work and dedication it takes have shaped who I am, both in and out of the gym.
        </p>

        <p>If you'd like connect and maybe work on something together. Whether it’s building the next cool app or sharing stories about coding or martial arts! I’m always up for a good chat!</p>
    </div>

    <div class='col-md-4'>
        <%= image_tag 'me-teamwork250x400.png', width: 250, alt: 'profile image' %>
    </div>
</div>

