<h1 class='pt-5'>About Me</h1>

<hr>

<div class='row'>
    <div class='col-md-4'>
        <%= image_tag 'me-desk.png', width: 250, alt: 'profile image' %>
    </div>

    <div class='col-md-8'>
        <p>
            My name is Sarrick Shiflett, and I’m a software engineer who loves building things that make sense. My passion for coding ignited into a roaring flame with my very first project. Like many others, I hate traffic. One day, while driving to work, I experienced the bliss of a traffic-free commute. I loved how easy and stress-free it felt. But the very next day, traffic was back. I realized I had driven to work just ten minutes earlier the day before, which made all the difference. However, each day’s traffic patterns seemed unpredictable.
            Using Apple’s Traffic API, I discovered I could analyze their data to predict traffic times minute by minute. I created an app that felt like a master key to unlocking the happiness of driving in clear traffic. For a while, I enjoyed stress-free commutes—until I left the company.
        </p>

        <p>
            That project hooked me on coding, and I haven’t looked back since.
            Since then, I’ve learned numerous programming languages, each one adding new skills and principles to my repertoire. I enjoy the challenge of picking up new technologies and solving complex problems.
        </p>
    </div>
</div>

<br>

<div class='row'>
    <div class='col-md-8'>
        <p>
            When I’m not immersed in coding, you’ll find me at the gym practicing the art of Muay Thai. I briefly competed in the sport, but now I dedicate my energy to my team. Helping my teammates become champions has been incredibly rewarding. Witnessing their highs and lows has taught me a lot about resilience, teamwork, and the value of perseverance.
        </p>

        <p>
            Muay Thai has also introduced me to amazing people and unforgettable experiences. The hard work and discipline it demands have shaped who I am, both in and out of the gym. This “everything matters” mindset has helped me approach coding and my relationship with myself with renewed focus and intentionality.
        </p>

        <p>
            If you’d like to connect, I’m always up for a good chat! Click the “Contact Me” button and send me an email.
        </p>
    </div>

    <div class='col-md-4'>
        <%= image_tag 'me-teamwork250x400.png', width: 250, alt: 'profile image' %>
    </div>

    <p class="lead">
        <%= link_to "Contact Me", contact_path, class: "btn btn-lg btn-secondary" %>
        <%= link_to "Projects", portfolios_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>