
<h1 class='pt-5'>About Me</h1>

<hr>

<div class='row'>
    <div class='col-md-4'>
        <%= image_tag '250x400.png', width: 250, alt: 'profile image' %>
    </div>

    <div class='col-md-8'>
        <p>My name is Sarrick Shiflett, and I am deeply passionate about coding. For me, programming is not just a task, it's a captivating challenge akin to unraveling an intricate puzzle. This passion has honed my ability to think systematically and cherish the investigative process inherent to coding. My journey began a few years ago with Apple's Swift, where I started by creating small applications through tutorials. This initial foray quickly evolved into developing my own applications, designed to streamline and enhance daily life efficiency. The empowerment I felt from being able to develop tools that directly addressed my needs was transformative, akin to discovering a new superpower.</p>

        <p>
        Over the years, I have dedicated myself to learning a diverse array of programming languages, each enhancing my skill set and broadening my perspectives. This journey has instilled in me a profound confidence in my ability to master new technologies and concepts, provided I dedicate myself to the learning process. Today, I stand ready and eager to embrace new challenges, confident in my ability to learn and adapt in the ever-evolving landscape of technology.</p>
    </div>
</div>

<div class='row'>
    <div class='col-md-8'>
        <p>In my leisure time, aside from spending time with friends, I find solace and challenge within the walls of the gym, dedicating myself to Muay Thai. Beyond merely engaging in this martial art, I take on a supportive role, assisting my teammates in the fight team as they prepare rigorously for their competitions. Initially, my journey in Muay Thai began with personal competition, but it evolved into a deeper passion for the art of pad-holding and the significant responsibilities it entails.
        </p>

        <p>This role has not only allowed me to celebrate considerable achievements of my team but has also been instrumental in the development of invaluable skills that transcend the gym environment, seamlessly integrating into everyday life. Resilience, bravery, honesty, and compassion have become cornerstones of my character, honed in the intensity of training and competition yet effortlessly applicable to the calmer, day-to-day situations I encounter.
        </p>

        <p>The demanding yet rewarding lifestyle of Muay Thai has bestowed upon me lessons of immeasurable worth, nurturing a sense of gratitude for the experiences shared and the lifelong friendships forged through this ancient martial art.</p>
    </div>

    <div class='col-md-4'>
        <%= image_tag '250x400.png', width: 250, alt: 'profile image' %>
    </div>
</div>

