<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">It is my goal to create software that embodies integrity, software that only good work ethic and communication can manifest. </p>
  <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>