<main class="main">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">It's my goal to inspire and influence change on the inside, from changing your environment</p>
  <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>